.container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    height: 100%;
}

.col {
    border-right: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}
